.mansory {
  &-container {
    width: 400px;
    margin: 5px;
  }
  &-picture {
    height: 180px;
    background-image: linear-gradient(-225deg, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.2) 50%);
    background-repeat: no-repeat;
    background-size: cover !important;
    background-position: center;
    border-bottom: 1px solid $border;
  }
  &-text {
    height: 40px;
    display: flex;
    padding-left: 15px;
    justify-content: space-between;
    align-items: center;
  }
}

.mansory-container.item {
  border: 1px solid $border;
  width: 320px;
  border-radius: 1px;
  margin-right: 40px;
  margin-bottom: 40px;
}

.mansory-button {
  padding-bottom: 12px;
  padding-top: 11px;
  border: none;
  text-decoration: none;
  padding-right: 25px;
  padding-left: 25px;
  border-left: 1px solid $border;
  color: $bluegrey-light;
  opacity: 0.9;
  transition: 0.5s ease;
}

.mansory-button:hover {
  text-decoration: none;
  border-left: 1px solid $border;
  color: white;
  background-color: $bluegrey-dark;
  opacity: 1;
  transition: 0.5s ease;
}

.m-real-text {
  opacity: 0.8;
}

.mansory-flex-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  padding-left: 40px;
  padding-top: 40px;
}
