/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i|Lora:400,400i,700,700i');
$base-font: "Lora", "serif";
$header-font: "Josefin Sans", "sans-serif";

// @import url("https://fonts.googleapis.com/css?family=Montserrat:400,300,700|Lato:400,100,300,700,500");
// $base-font: "Circular-Book", "sans-serif";
// $header-font: "Circular-Black", "sans-serif";

// @font-face {
//   font-family: 'Circular-Black';
//   src: font-url('Circular-Black.eot?#iefix') format('embedded-opentype'),  font-url('Circular-Black.woff') format('woff'), font-url('Circular-Black.ttf')  format('truetype'), font-url('Circular-Black.svg#Circular-Black') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }


// @font-face {
//   font-family: 'Circular-Bold';
//   src: font-url('Circular-Bold.eot?#iefix') format('embedded-opentype'),  font-url('Circular-Bold.woff') format('woff'), font-url('Circular-Bold.ttf')  format('truetype'), font-url('Circular-Bold.svg#Circular-Bold') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }


// @font-face {
//   font-family: 'Circular-Book';
//   src: font-url('Circular-Book.eot?#iefix') format('embedded-opentype'),  font-url('Circular-Book.woff') format('woff'), font-url('Circular-Book.ttf')  format('truetype'), font-url('Circular-Book.svg#Circular-Book') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }


// @font-face {
//   font-family: 'Circular-Medium';
//   src: font-url('Circular-Medium.eot?#iefix') format('embedded-opentype'),  font-url('Circular-Medium.woff') format('woff'), font-url('Circular-Medium.ttf')  format('truetype'), font-url('Circular-Medium.svg#Circular-Medium') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }


// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 14px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #FE305C;

$red: #EE5F5B;
$blue: #65B9BE;
$yellow: #FCDB55;
$orange: #E67E22;
$green: #68F438;
$bluegrey-dark: #3A3E4D;
$bluegrey-light: #767B8E;
$brown-dark: #3F403E;
$white: white;
$border: #EEEEEE;

// Gray scale
$gray-darker:  lighten(#000, 13.5%); // #222
$gray-dark:    lighten(#000, 20%);   // #333
$gray:         lighten(#000, 33.5%); // #555
$gray-light:   lighten(#000, 46.7%); // #777
$gray-lighter: lighten(#000, 93.5%); // #eee
