.about-padded {
  padding-top: 2em;
  padding-bottom: 5em;
  text-align: justify;
  p {
    margin: 0;
  }
  h3{
    font-size: 19px;
    font-weight: 600;
    letter-spacing: -1px;
    margin-bottom: 30px;
    margin-top: 0;
  }
  h4 {
    font-size: 15px;
    font-weight: 400;
    margin-top: 30px;
  }
  img {
    @media (max-width: 468px) {
      width: 250px;
    }
    @media (min-width: 468px) {
      width: 450px;
    }
  }
}
.about-img-center {
  text-align: center;
}
.about-btn {
  background-color: $brown-dark;
  color: $white;
  font-size: 18px;
  font-family: $header-font;
  margin-top: 50px;
}
