.dashpage {
  display: flex;
}

.leftblock {
  border-right: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
  min-width: 20%;
  max-width: 20%;
  background-color: white;
  height: 100vh;
  padding-top: 20px;
}

.rightblock {
  height: 100vh;
  min-width: 80%;
  max-width: 80%;
}

.leftblock h5 {
  font-family: "Circular-Book";
  font-size: 1em;
  color: $bluegrey-light;
}

.family-name {
  font-family: "Circular-Black" !important;
  color: $bluegrey-dark !important;
  font-size: 16px !important;
  opacity: 0.9 !important;
  margin-bottom: 25px;
}

.hard-family {
  margin-bottom: -5px !important;
}

.child-number {
  font-family: "Circular-Medium" !important;
  color: $brand-color !important;
  font-size: 14px !important;
  opacity: 0.9 !important;
  margin-bottom: 25px;
}

.search {
  font-family: "Circular-Medium" !important;
  color: $brand-color !important;
  font-size: 14px !important;
  opacity: 0.9 !important;
  margin-bottom: 25px;
}

.identity-dashboard {
  font-family: "Circular-Book";
  font-size: 13px;
  color: $bluegrey-dark;
  opacity: 0.9;
  border-bottom: 1px solid rgba(25,25,25,0.1);
  padding-bottom: 25px;
  padding-top: 25px;
  background-color: yellow;
  margin-bottom: 10px;
}

.family-name2 {
  font-family: "Circular-Black" !important;
  font-size: 14px !important;
}

.item-dashboard {
  font-family: "Circular-Book";
  font-size: 12px;
  color: $bluegrey-dark;
  opacity: 0.8;
  text-align: left;
  padding-left: 35px;
  padding-bottom: 8px;
  padding-top: 8px;
}
