.edit-top-container {
  display: flex;
  height: 60px;
  background-color: #5A6569;
  align-items: center;
  justify-content: center;
}

.edit-container-title {
  font-size: 14px;
  font-family: "Circular-Book";
  color: white;
  opacity: 0.9;
}


.edit-flex-container {
  display: flex;
  align-items: stretch;
}

.left-edit-block {
  min-width: 250px;
  max-width: 250px;
  background-color: white;
  border-right: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.right-edit-block {
  flex: 12;
  height: 100vh;
}

.right-block-title {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EFEFEF;
}

.title-text {
  font-size: 14px;
  font-family: "Circular-Book";
  letter-spacing: -0.4px;
  color: $bluegrey-dark;
  opacity: 0.7;
  padding: 8px;
}

.title-text-bold {
  font-size: 14px;
  font-family: "Circular-Bold";
  letter-spacing: -0.4px;
  color: $bluegrey-dark;
  opacity: 0.9;
  padding: 8px;
  margin-right: 10px;
  margin-left: 10px;
}

.form-right-block {
  opacity: 0.8;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.right-block-title-borders {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  opacity: 0.8;
  border-bottom: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
}

.form-group {
  min-width: 150px;
  max-width: 250px;
}


.form-group input {
  box-shadow: none;
  text-decoration: none;
  border-radius: 2px;
  color: $bluegrey-dark;
  padding-left: 5px;
  font-size: 13px;
  font-family: "Circular-Medium";
  margin-bottom: 20px;
}

.form-group label {
  font-size: 13px;
  font-family: "Circular-Book";
  color: $bluegrey-dark;
  opacity: 0.7;
  margin-right: 25px;
  margin-bottom: 0px;
}

.form-group input:focus {
  box-shadow: none;
  color: $brand-color;
  border: none;
  outline: none;
}

.edit-flex-container.form-group select {
  box-shadow: none;
  text-decoration: none;
  border-radius: 0px;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: none;
  color: $bluegrey-dark;
  padding-left: 0px;
  margin-right: 2px;
}

.two-inline-item {
  display: flex;
  justify-content: space-between;
}

.flex-form-right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-top: 30px;
}

.form-group textarea {
  font-size: 12px;
  font-family: "Circular-Book";
  color: $bluegrey-dark;
  opacity: 0.9;
  margin-top: 10px;
  height: 200px;
  width: 900px;
}

.navbox-2 {
  padding-left: 0px;
  background-color: $bluegrey-dark;
}

.nav-tabs-2 {
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 3px;
  border-style: none;
  justify-content: center;
  align-items: center;
}




.nav-tabs-2 li {
  text-align: center;
  text-decoration: none;
  border-style: none;
  margin-left: 16px;
  margin-right: 20px;
  background-color: $bluegrey-dark;
}

.nav-tabs-2 li.active a {
  color: white;
  font-family: "Circular-Book";
  text-decoration: none;
  font-size: 13px;
  border-style: none;
  background-color: $bluegrey-dark;
}

.nav-tabs-2 li.active a:hover {
  color: white;
  font-family: "Circular-Book";
  text-decoration: none;
  font-size: 13px;
  background-color: $bluegrey-dark;
  border-style: none;
}

.nav-tabs-2 li.active a:focus {
  color: white;
  font-family: "Circular-Book";
  text-decoration: none;
  font-size: 13px;
  border-style: none;
}

.nav-tabs-2 li a {
  color: $bluegrey-light;
  font-family: "Circular-Book";
  text-decoration: none;
  font-size: 13px;
  background-color: $bluegrey-dark;
  border-style: none;
  padding: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.nav-tabs-2 li a:hover {
  background-color: $bluegrey-dark;
  border-style: none;
  color: white;
}


.tabs {
  background: white;
  display: flex;
  padding: 10px 10px 0 10px
}
.tabs a {
  color: $bluegrey-dark;
}
.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
}
.tabs h3 {
  font-size: 17px;
  font-weight: bold;
  margin-top: 0;
}
.tabs p {
  margin-bottom: 0;
}
.tab {
  background: white;
  flex: 0 0 25%;
  text-align: center;
  padding: 20px 0;
  text-decoration: none;
}
.tab:first-child {
  border-radius: 0px;
}
.tab:last-child {
  border-radius: 0px;
}
.tab.active {
  background: white;
  color: $brand-color;
  font-family: "Circular-Medium";
  text-decoration: none;
}

.tabs p:active {
  text-decoration: none;
}

@media all and (max-width: 680px) {
  .left-edit-block {
    display: none;
  }
}

.left-title {
  color: $bluegrey-dark;
  padding-top: 25px;
  font-size: 14px;
  opacity: 0.8;
  letter-spacing: -0.4px;
}

.left-percent {
  font-size: 32px;
  font-family: "Lato";
  font-weight: 200;
  color: $brand-color;
  margin-top: 10px;
}

.left-update-btn {
  width: 50%;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid lightgrey;
  text-align: center;
  border-radius: 4px;
  font-size: 13px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
}


.left-edit-block input[type="submit"] {
  border: none;
  height: 50px;
  color: $brand-color;
  margin-top: 25px;
  border-radius: 4px;
  transition: 0.5s ease;
  background-color: white;
  border: 1px solid $brand-color;
}

.left-edit-block input[type="submit"]:hover {
  color: white;
  transition: 0.5s ease;
  background-color: $brand-color;
}

.test-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin-bottom: 20px;
}

.input-inline-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.edit-family-label {
  width: 400px;
}

.completion-block {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  width: 100%;
  border-bottom: 1px solid $border;
  border-top: 1px solid $border;
}

.completion-block input[type="submit"] {
  border: none;
  height: 45px;
  color: $brand-color;
  border-radius: 4px;
  transition: 0.5s ease;
  background-color: white;
  border: 1px solid $brand-color;
  margin-left: 25px;
}

.completion-block input[type="submit"]:hover {
  color: white;
  transition: 0.5s ease;
  background-color: $brand-color;
}

.completion-update-btn {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.completion-percent {
  font-size: 22px;
  font-family: "Circular-Bold" !important;
  opacity: 0.8;
  margin-left: 10px;
}

.completion-title {
  font-size: 15px;
  opacity: 0.8;
}

.form-group input {
  margin-bottom: 0;
}

.form-group label {
  min-width: 400px;
  max-width: 400px;
  margin-bottom: 8px;
}

