/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
 .home-search-container {
  display: flex;
  justify-content: space-around;
  width: 60vw;
  a:hover {
    text-decoration: none;
  }
}

.butrfly-title {
  padding-bottom: 14px;
  color: $bluegrey-dark;
  font-size: 35px;
  opacity: 0.9;
  font-family: $header-font;
}

.butrfly-fulltext {
  color: $bluegrey-dark;
  opacity: 0.8;
}

.butrfly-container {
  padding: 60px 25%;
}


// BANNERS

.home-banner {
  color: white;
  height: 450px;
  width: 100%;
  background-size: cover;
  background-image: image-url("home-background.jpg");
  background-position: center center;
  position: absolute;;
  top: 0;
  z-index: -1;
}

.home-banner-content {
  min-height: 300px;
}

.mission-banner {
  background-size: cover;
  background-image: image-url("home-mission.jpg");
  background-position: center;
}

.mission-container {
  padding: 80px;
}
