/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.banner {
  color: white;
  text-align: center;
  height: 50vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(-225deg, rgba(80,101,80,0.4) 0%, rgba(130,80,101,0.6) 50%), url(hero.jpg);
  background-position: center;
}
.banner h1 {
  font-size: 30px;
  font-family: "Lato";
  letter-spacing: 6px;
  font-weight: 200;
}
.banner p {
  font-family: "Lato";
  font-size: 15px;
  font-weight: 300;
  color: white;
  margin-bottom: 20px;
}

.btnpad {
  margin: 16px;
}

.btn {
  font-family: "Lato";
  font-weight: 500;
  font-size: 14px;
  padding: 7px 22px;
}

.loginview {
  padding-left: 25%;
  padding-right: 25%;
  margin-top: 100px;
}



.loginmargins {
  margin-top: 30px;
}

.features {
  font-family: "Circular-Black";
  font-weight: 400;
  letter-spacing: 0.5;
  color: $bluegrey-dark;
  font-size: 16px;
  margin-top: 35px;
  margin-bottom: 30px;
  opacity: 0.8;
}

.homeblock {
  margin-top: 30px;
}

.navbar-wagon-link2 {
  color: $bluegrey-dark;
  font-size: 14px;
}
.navbar-wagon-link2:hover {
  text-decoration: none;
}


.modalog {
  color: $bluegrey-dark;
}

.features-text {
  text-justify: left;
  color: $bluegrey-dark;
  width: 350px;
  padding-left: auto;
  padding-right: auto;
  font-size: 12px;
  opacity: 0.8;
  margin-bottom: 60px;
  line-height: 1.5;
}

#features2 {
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 4px;
  .section-title {
    color: #565A5C;
    font-size: 19px;
    font-family: 'BrixSansExtraLight';
    letter-spacing: 3px;
  }
  .icon-box {
    width: 100%;
    min-height: 200px;
    padding: 20px;
    margin-bottom: 4px;
    background: #fff;
    text-align: center;
    .icon {
      font-size: 2rem;
      color: #F22672;
    }
  }
}

.icon-box p {
  line-height: 110%;
}


.banner2 {
  color: white;
  text-align: center;
  height: 25vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(-270deg, rgba(255,191,20,0.3) 0%, rgba(255,180,20,0.4) 50%), url(family-image.jpg);
  background-position: center;
}
.banner2 h1 {
  font-size: 24px;
  font-family: "Lato";
  letter-spacing: 2px;
  font-weight: 200;
}

.banner2 h4 {
  font-size: 14px;
  font-family: "Circular-Book";
  letter-spacing: 0.6;
}
.banner2 p {
  font-family: "Circular-Book";
  font-size: 15px;
  color: white;
  margin-bottom: 20px;
}


.tabs {
  background: white;
  display: flex;
  padding: 10px 10px 0 10px
}
.tabs a {
  color: $bluegrey-dark;
}
.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
}
.tabs h3 {
  font-size: 17px;
  font-weight: bold;
  margin-top: 0;
}
.tabs p {
  margin-bottom: 0;
}
.tab {
  background: white;
  flex: 0 0 25%;
  text-align: center;
  padding: 20px 0;
  text-decoration: none;
}
.tab:first-child {
  border-radius: 0px;
}
.tab:last-child {
  border-radius: 0px;
}
.tab.active {
  background: white;
  color: $brand-color;
  font-family: "Circular-Medium";
  text-decoration: none;
}

.tabs p:active {
  text-decoration: none;
}

.nav-tabs {
  display: flex;
  padding: 5px;
  border-style: none;
}

.nav-tabs li {
  flex: 0 0 25%;
  text-align: center;
  text-decoration: none;
  border-style: none;
}

.nav-tabs li.active a {
  color: $brand-color;
  font-family: "Circular-Book";
  text-decoration: none;
  font-size: 13px;
  border-style: none;
}

.nav-tabs li.active a:hover {
  color: $brand-color;
  font-family: "Circular-Book";
  text-decoration: none;
  font-size: 13px;
  background-color: white;
  border-style: none;
}

.nav-tabs li.active a:focus {
  color: $brand-color;
  font-family: "Circular-Book";
  text-decoration: none;
  font-size: 13px;
  border-style: none;
}

.nav-tabs li a {
  color: $bluegrey-light;
  font-family: "Circular-Book";
  text-decoration: none;
  font-size: 13px;
  background-color: white;
  border-style: none;
  padding: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.nav-tabs li a:hover {
  background-color: white;
  border-style: none;
  color: $brand-color;
}

.navbox {
  padding-left: 15%;
  padding-right: 15%;
  border-bottom: 1px solid lightgrey;
}

.usertype {
  font-family: "Circular-Bold";
  color: $brand-color;
  margin-right: 20px;
  margin-left: -16px;
}
.usertype2 {
  font-family: "Circular-Bold";
  color: $brand-color;
}

.titleanimate {
  animation-duration: 8s;
  delay: 2s;
  iteration-count: infinite;
}

.navpill-one {
  margin-top: 25px;
}

.navpill-title {
  font-family: "Circular-Book";
  font-size: 13px;
  color: $bluegrey-light;
}


.cardcondition {
  width: 200px;
  border: 1px solid lightgrey;
  border-radius: 4px;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.icon-family {
  width: 60px;
}

.cardinfos {
  width: 200px;
  border: 1px solid lightgrey;
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 20px;
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
}

.card-titre {
  font-family: "Circular-Book";
  margin-top: 15px;
  font-size: 11px;
  color: $brand-color;
}

.fa-users {
  color: $brand-color;
}

.fa-globe {
  color: $brand-color;
}

.icon-box h4 {
  font-family: "Circular-Bold";
  font-size: 16px;
  color: $bluegrey-dark;
}

.icon-box p {
  font-family: "Circular-Book";
  color: $bluegrey-dark;
  font-size: 14px;
  opacity: 0.8;
  letter-spacing: 0.2px;
  line-height: 20px;
}


.icon-box p {
  padding-left: 20px;
  padding-right: 20px;
}

.fa-universal-access {
  color: $brand-color;
}

.loginview2 {
  padding-left: 25%;
  padding-right: 25%;
  margin-top: 20px;
}



