#plans-page {
  article {
    background-color: $bluegrey-dark;
    color: white;
    padding: 20 0px;
  }
  p {
    margin: 20 0px;
  }
}
.div-white {
  background-color: white;
  margin: 20px;
}
.div-border {
  border: 2px solid $bluegrey-dark;
  padding: 20px 20px 20px 20px;
  height: 650px;
}
.div-flex-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.div-flex-column-around {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.div-flex-column-between {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.plans-text-margin {
  margin-top: 30px;
  p {
    font-style: italic;
  }
}
.div-padding {
  padding: 25px;
}
.plans-bottom-text {
  background-color: $bluegrey-dark;
  p {
    font-weight: lighter;
    color: white;
    margin: 0;
    // padding: 15 25px;
  }
}
.div-padding-borders {
  padding: 15px 25px;
}
.plans-title {
  padding: 0px 100px;
}
.papillon-gris-size {
  height: 40px;
}
.plans-title-size {
  width: 200px;
}



