<div class="col-xs-12 col-md-6">
  <div class="mansory-container">
    <div class="mansory-picture">

    </div>
    <div class="mansory-text">
      <div>
        Famille <%= family.name %>
      </div>
      <div>
        <%= link_to "Voir", family, class: "btn-modal-alt" %>
      </div>
    </div>
  </div>
</div>
