  <div class="mansory-container item <%= family.prefered_gender %>">
    <div class="mansory-picture">

    </div>
    <div class="mansory-text">
      <div class="m-real-text">
        Famille <%= family.name %>
      </div>
      <div>
        <%= link_to "Voir", family, class: "mansory-button" %>
      </div>
    </div>
  </div>
