  <div class="mansory-container item <%= family.prefered_gender_aupair_txt %>">
    <div class="mansory-picture">

    </div>
    <div class="mansory-text">
      <div>
        Famille <%= family.name %>
      </div>
      <div>
        <%= link_to "Voir", family, class: "btn-modal-alt" %>
      </div>
    </div>
  </div>
