<div class="filters-box frame-default">
  <h2>FILTRES</h2>
  <div class="container-fluid text-left">
    <h3>VOTRE AU PAIR DOIT PARLER :</h3><div>Coco</div>
    <h3>PERMIS DE CONDUIRE :</h3><div>Oui</div>
    <h3>EXPÉRIENCE AU PAIR :</h3><div>Oui</div>
    <h3>EXPÉRIENCE GARDE D'ENFANTS :</h3><div>Oui</div>
    <h3>SPORTIF :</h3><div>Oui</div>
    <h3>MUSICIEN :</h3><div>Oui</div>
    <h3>NATIONALITÉ :</h3><div>Français</div>
  </div>
</div>
