<div class="dashpage">
  <div class="leftblock">
    <h2>Filtres</h2>
    <div id="filters" class="button-group">
      <button class="button is-checked" data-filter="*">show all</button>
      <button class="button" data-filter=".metal">metal</button>
      <button class="button" data-filter=".transition">transition</button>
      <button class="button" data-filter=".alkali, .alkaline-earth">alkali and alkaline-earth</button>
    </div>
  </div>
  <div class="rightblock">
    <div class="container">
      <div class="row">
        <%= render @families %>
      </div>
    </div>
  </div>
</div>
