<div class="container">
  <h2>Cherche</h2>
  <div id="form-ui">
    <p>
      <label><input type="checkbox" value=".Male" /> Un Aupair masculin</label>
      <label><input type="checkbox" value=".Female" /> Un Aupair féminin</label>
    </p>
  </div>

  <div class="grid">
    <%= render @families %>
  </div>
</div>
