<div class="fullpage">

  <div class="left-column mq-hidden-under-680">

    <div class="filter-index-title">
      <div class="filter-top-title">Filtres</div>
    </div>

    <div class="filter-category filter-index">
      <div id="form-ui" class="checkbox">
        <div class="filter-title">La famille recherche...</div>
          <div class="cb-inline">
            <input id="male" type="checkbox" value=".male" />
            <label for="male"><%= t("male_prefered").capitalize %></label>
          </div>

          <div class="cb-inline">
            <input id="female" type="checkbox" value=".female" />
            <label for="female"><%= t("female_prefered").capitalize %></label>
          </div>
      </div>
    </div>

  </div>


  <div class="right-column">

    <%= render 'shared/family_index_searchbar' %>
    <div class="grid"><%= render @families %></div>

  </div>

</div>
