<div class="fullpage">

  <div class="filter-block">
    <span class="identity-dashboard">Famille <span class="family-name2"><%= @user.name.capitalize %></span></span>
  </div>



  <div class="content-block">

    <div class="banner2">
      <div class="banner-content">
        <h1>Famille <%= @user.name %></h1>
        <h4><%= @user.email %></h4>
      </div>
    </div>

  </div>



</div>


