<div class="container loginview2">

<div class="text-center title-modal2">Mot de passe oublié ?</div>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, placeholder: 'Email', label: false %>
  </div>

  <div class="form-actions text-center">
    <%= f.button :submit, "Reset password", class: "btn-modal" %>
  </div>
<% end %>


</div>
