<div class="col-md-4">
  <div class="card-user card-<%= user.class.name.downcase %>" style="background-image: url(<%= default_photo(user) %>);">
    <div class="frame-white card-user-title">
      <h2><%= user.name %></h2>
      <%= link_to "VOIR PLUS", user %>
    </div>
  </div>
</div>
