<div class="banner2">
  <div class="banner-content">
    <h1>Family one</h1>
  </div>
</div>




<div class="navbox">


<!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Infos</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profil</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Réglages</a></li>
  </ul>


  <!-- Tab panes -->


</div>
<div class="tab-content">

    <div role="tabpanel" class="tab-pane active" id="home">
      <div class="container text-center navpill-one">
        <i class="fa fa-database" aria-hidden="true"></i>
        <h4 class="navpill-title">Infos</h4>
        <div class="navbar-wagon-link-grey">Email : <%= current_user.email %></div>
        <div class="navbar-wagon-link-grey">Type : <%= current_user.actable_type %></div>
      </div>

    </div>

    <div role="tabpanel" class="tab-pane" id="profile">
      <div class="container text-center navpill-one">
        <i class="fa fa-eye" aria-hidden="true"></i>
        <h4 class="navpill-title">Profil</h4>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="messages">
      <div class="container text-center navpill-one">
        <i class="fa fa-comments" aria-hidden="true"></i>
        <h4 class="navpill-title">Messages</h4>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="settings">
      <div class="container text-center navpill-one">
        <i class="fa fa-cog fa-spin" aria-hidden="true"></i>
        <h4 class="navpill-title">Réglages</h4>
      </div>
    </div>

  </div>





<div class="container text-center">

  <%= link_to "Mettre à jour mon profil", edit_family_path(current_user.specific) %>

</div>


