<div class="navbar-main">
  <div class="navbar-left">
    <%= link_to root_path do %>
      <%= image_tag("papillon-noir.png", class: "navbar-logo") %>
    <% end %>
    <h2 class="navbar-title">BUTRFLY</h2>
  </div>

  <div class="navbar-right">
    <p>COMMENT ÇA MARCHE ?</p>
    <p>AIDE</p>
    <p>BLOG</p>
    <p>INSCRIPTION</p>
    <p>CONNEXION</p>
  </div>

</div>
