<div class="modal fade" id="oops" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-border">
        <div class="modal-close text-center">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>

        <%= link_to root_path do %>
          <%= image_tag("papillon-gris.png", class: "modal-logo") %>
        <% end %>
        <div>
          <h1>OUPS!</h1>
          <p>Tu as manqué une étape! Tu dois d'abord:</p>
        </div>
        <!-- NB: METTRE à JOUR LES PATH POUR LES LIENS CI DESSOUS -->
        <%= link_to "CRÉER TON PROFIL", procedure_path, class: "btn btn-default modal-oops-link" %>
        <p>et</p>
        <%= link_to "PRENDRE TON ABONNEMENT", procedure_path, class: "btn btn-default modal-oops-link" %>
      </div>
    </div>
  </div>
</div>
