<div class="fixed-social-links">
  <i class="fa fa-facebook text-center" aria-hidden="true"></i>
  <i class="fa fa-twitter text-center" aria-hidden="true"></i>
  <i class="fa fa-pinterest text-center" aria-hidden="true"></i>
  <i class="fa fa-google text-center" aria-hidden="true"></i>
</div>
