<div class="div-left margin-bottom-20px">
  <div class="btn-yellow-default <%= 'bg-blue border-blue' if color == :blue %>"><%= "#{index + 1}. #{edit_tabs[color][index][:title]}" %></div>
  <% unless edit_tabs[color][index][:infos].nil? %>
    <div class="btn-white-default <%= 'border-blue' if color == :blue %>"><%= edit_tabs[color][index][:infos] %></div>
  <% end %>
</div>
