<div class="div-left">
  <div class="btn-blue-default"><%= "#{index + 1}. #{edit_tabs[:blue][index][:title]}" %></div>
  <% unless edit_tabs[:blue][index][:infos].nil? %>
    <div class="btn-white-default"><%= edit_tabs[:blue][index][:infos] %></div>
  <% end %>
</div>
