<!-- about us start -->

<div class="about-us-container">
      <div class="about-us-title">
        <div>La philosophie Butrfly</div>
      </div>
      <div class="about-us-fulltext">
        L'équipe BUTFRLY, c'est quelques personnes encore tout émues des merveilleuses expériences qu'elles ont pu vivre à travers l'au pairing, soit en tant qu'enfants, soit en tant que parents, soit en tant qu’au pair. Avec BUTRFLY ils ont eu envie de faire entrer cette belle idée dans le monde d’aujourd’hui qui changera votre vie.
      </div>
</div>

<!-- about us end -->
