<!-- benefits aupair start -->

<div class="benefits-aupair-container">

    <div class="benefits-item">
      <div class="benefits-container-title">AU PAIRS</div><!-- TITRE:AUPAIRS -->
    </div>


    <div class="benefits-item">
      <div class="benefits-text-block-left">
        <div class="benefits-title-left">
          <div>Découvrir le monde</div><!-- DECOUVRIR LE MONDE -->
        </div>
        <div class="benefits-fulltext-left">
          Envie de voyager et d’apprendre une langue étrangère ? Avec l’au pair, tu as la chance de pouvoir vivre à l’étranger, dans un environnement très doux, sans avoir à chercher du travail ou un appartement. Et en prime, ta famille d’accueil sera heureuse de partager avec toi sa culture !
        </div>
      </div>
      <div class="benefits-icon-right"><i class="fa fa-globe" aria-hidden="true"></i></div>
    </div>


    <div class="benefits-item">
      <div class="benefits-icon-left"><i class="fa fa-language" aria-hidden="true"></i></div>
      <div class="benefits-text-block-right">
        <div class="benefits-title-right">
          <div>Apprendre une langue</div><!-- APPRENDRE UNE LANGUE -->
        </div>
        <div class="benefits-fulltext-right">
          Envie d’améliorer son CV et de développer de nouvelles compétences? Une nouvelle langue, le management d’une équipe de plusieurs enfants, le pilotage d’un emploi du temps familial, la gestion des imprévus, une capacité d’adaptation hors-pair autant de savoirs qui te serviront pour la vie.
        </div>
      </div>
    </div>


    <div class="benefits-item">
      <div class="benefits-text-block-left">
        <div class="benefits-title-left">
          <div>Faire des rencontres</div><!-- FAIRE DES RENCONTRES -->
        </div>
        <div class="benefits-fulltext-left">
          Envie de faire des rencontres et de s’amuser? Avec l’au pair tu as de l’argent de poche et du temps libre et tu pourras rencontrer d’autres au pair comme toi grâce à la communauté BUTRFLY. N’oublie pas que ta famille d’accueil fera également tout pour que tu te plaises.
        </div>
      </div>
      <div class="benefits-icon-right"><i class="fa fa-coffee" aria-hidden="true"></i></div>
    </div>

</div>

<!-- benefits aupair end -->





<!-- benefits family start -->

<div class="benefits-family-container">


    <div class="benefits-item">
      <div class="benefits-container-title">FAMILLES</div><!-- TITRE:FAMILLES -->
    </div>

    <div class="benefits-item">
      <div class="benefits-text-block-left">
        <div class="benefits-title-left">
          <div>Aide au quotidien</div><!-- AIDE AU QUOTIDIEN -->
        </div>
        <div class="benefits-fulltext-left">
          L’Au pair, c’est la sérénité de ne plus vous laisser déborder !  Aller chercher les enfants à l’école, les accompagner aux activités, passer au pressing et vider le lave-vaisselle : un(e) au pair vous offre un mode garde flexible et vous soulage dans les petits riens du quotidien.
        </div>
      </div>
      <div class="benefits-icon-right"><i class="fa fa-question" aria-hidden="true"></i></div>
    </div>


    <div class="benefits-item">
      <div class="benefits-icon-left"><i class="fa fa-language" aria-hidden="true"></i></div>
      <div class="benefits-text-block-right">
        <div class="benefits-title-right">
          <div>Initiation linguistique</div><!-- INITIATION LINGUISTIQUES -->
        </div>
        <div class="benefits-fulltext-right">
          Une initiation linguistique et une ouverture sur le monde dès  tout petit. Avec l’au pair vos enfants vont avoir la chance d’entendre parler une autre langue à la maison et vous allez découvrir que vos enfants ont un délicieux accent.
        </div>
      </div>
    </div>


    <div class="benefits-item">
      <div class="benefits-text-block-left">
        <div class="benefits-title-left">
          <div>Tolérance</div><!-- TOLERANCE -->
        </div>
        <div class="benefits-fulltext-left">
          L’expérience au pair un joli cadeau pour la vie ! L’au pair c’est le confident, le compagnon de jeu qui devient très vite la grande soeur ou le grand frère avec qui se crée une relation forte. Il nous apprend qu’ailleurs on peut vivre autrement et c’est parfait aussi, une bonne dose de tolérance.
        </div>
      </div>
      <div class="benefits-icon-right"><i class="fa fa-heart" aria-hidden="true"></i></div>
    </div>

</div>

<!-- benefits family end -->
