<div class="home-searchbar-types">
  <div class="home-searchbar-item">
    <div class="search-button-text"><%= t(".search") %></div>
    <i class="fa fa-arrow-right" aria-hidden="true"></i>
  </div>
  <%= link_to t(".aupairbutton"), aupairs_path, class: "home-searchbar-middle-item home-searchbar-btn" %>
  <%= link_to t(".familybutton"), families_path, class: "home-searchbar-last-item home-searchbar-btn" %>
</div>
