<% content_for(:title) do %>
  A propos BUTRFLY
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-push-6">
      <div class="about-padded">
        <h3>A PROPOS/QUI SOMMES NOUS ?</h3>
        <div class="about-bold">
          <p>
            Nous sommes 3 mamans qui sommes convaincues que l’expérience Au Pair est une rencontre formidable qui marque à jamais l’Au Pair, la famille et les enfants.
          </p>
          <p>
            Nous avons toutes les 3 étudié à l’étranger car comme vous, nous étions curieuses et pleine d’envie de découvrir d’autres cultures. Mais on sait qu’on peut être vite freiné par la difficulté de trouver un logement et un job pour bien vivre cette aventure !
          </p>
          <p>
            Aujourd’hui, en tant que mamans, nous savons que l’Au pair est la solution idéale pour  les jeunes qui souhaitent partir à l’étranger dans des conditions rassurantes et sûres. Nous savons également que c’est LA solution des familles qui rêvent de flexibilité, d’ouverture sur le monde pour leurs enfants et de partage.
          </p>
          <p>
            C’est pour cela que nous avons créé BUTRFLY, la 1ère plateforme française pour les Au Pairs qui veulent vivre leur expérience en France en toute confiance.
          </p>
          <p>
            Notre atout : être la seule plateforme spécialiste du marché français
          </p>
          <p>
            Notre envie : Faire découvrir la France dans les meilleures conditions aux au pair et faire des familles les meilleurs ambassadeurs de leur culture !
          </p>
        </div>

        <div class="about-member">
          <p>
            <strong>Je suis Manuela</strong>, maman d'Albane 7 ans et Léonie 5 ans, j'ai étudié 1 an au Mexique (où j'ai rencontré Anne-Claire) et ai beaucoup voyagé pendant mes études. Aujourd'hui je suis famille au pair pour la 4ème année. Je veux donner le meilleur à mes enfants en termes d’éducation et je ne peux pas être à la sortie d’école à 15h45, en travaillant à plein temps, pour les conduire au piano, à la danse ou au dessin. Je veux aussi les initier aux langues étrangères. Apprendre à mes enfants à s'ouvrir sur le monde était pour moi une priorité et nous aimons recevoir et ouvrir notre maison.
          </p>
          <p>
            Ainsi l'expérience Au Pair a été pour nous une découverte exceptionnelle. Tellement forte et riche de rencontres et de partage que je me suis dit que je ne pouvais pas le garder que pour moi car l'expérience est exceptionnelle tant pour l'Au Pair, que pour les enfants, que pour nous parents. Elle est aussi bénéfique car elle contribue à une éduction positive, pour en savoir plus : <%= link_to "visitez notre blog", 'http://blog.butrfly.com/au-pair-education-positive/', class: 'blog-link'  %>
          </p>
        </div>

        <div class="about-member">
          <p>
            <strong>Je suis Anne Claire</strong>, maman de 3 enfants : Gabriel 8 ans, Arthur 4 ans et Romane 3 ans. J’habite à Paris et depuis des années, j’ai le sentiment de courir après le métro mais aussi après le temps, entre le boulot et la vie de famille nombreuse.
          </p>
          <p>
            J’ai cumulé les différents modes de garde entre les plus petits à la crèche, la nounou pour la sortie d’école et la baby sitter du samedi soir tout en sachant que j’aurais préféré avoir la même personne, ce référent qui devient le point d’ancrage de vos enfants !
          </p>
          <p>
            Avec Manuela, nous nous sommes rencontrées quand nous étions étudiantes au Mexique il y a 15 ans et nous sommes l’exemple même que l’expérience à l’étranger forge des amitiés fortes et durables.
          </p>
          <p>
            C’est cela que nous avons envie de faire vivre aux Au Pairs qui viennent en France! 
          </p>
        </div>

        <div class="about-member">
          <p>
            <strong>Je suis Julie</strong>, maman d'Achille 6 ans, globe trotteuse et ancienne jeune fille Au Pair! J’aime voyager et rendre service.
          </p>
          <p>
            A travers mes voyages j’ai tissé des amitiés aux quatre coins du globe et j'ai plaisir à les revoir et les accueillir en France. Pour partager du temps avec eux et avec Achille car l'ouverture sur le monde et le partage sont des valeurs instinctives pour moi. L'expérience Au Pair est donc naturellement devenu une évidence. Mon enthousiasme et mon énergie je les mets à votre service pour vous permettre de vivre la plus belle expérience Au Pair.
          </p>
          <p>
            Ensemble nous souhaitons vous permettre de vivre la meilleure expérience qui soit en France.
          </p>
          <p>
            Etre accueillie par des familles généreuses où rapidement vous deviendrez le grand frère ou la grande soeur de la famille... le reste on vous laisse le vivre et nous en faire part.
          </p>
        </div>

        <div class="about-bold">
          <p>
            Manuela, Anne-Claire & Julie.
          </p>
          <br>
          <p>
            BUTRFLY, un quotidien + simple, une vie  + riche, un monde + ouvert.
          </p>
        </div>

        <%= mail_to t('meta-email'), class: "about-btn btn btn-default" do %>
          NOUS CONTACTER
        <% end %>

      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-md-pull-6">
      <div class="about-padded">
        <div class="text-center">
          <%= image_tag ('butrfly2-HD-1-13.JPG') %>
        </div>
        <h3 class="text-center">Le cœur de ButRfly bat pour…</h3>
        <h4>Un quotidien plus simple</h4>
        <p>
          Nous pensons que l’idée d’accueillir un ou une au pair chez soi méritait un petit rafraîchissement ! Avec un soupçon d’innovations techniques et une bonne dose d’écoute pour répondre exactement aux besoins de jeunes et des familles, nous avons inventé ButRfly. Pas d’échange d’argent, des formalités administratives simplifiées pour que tout le monde puisse se concentrer sur l’essentiel : la vie de famille !
        </p>
        <h4>Une vie plus riche </h4>
        <p>
          Nous savons qu’accueillir un au pair à la maison est une expérience d’une richesse inouïe pour tout le monde. Pour les parents, c’est l’opportunité de mieux vivre leur rôle et de profiter vraiment du temps passé en famille. Pour les enfants, c’est un nouveau référent, disponible et vraiment à l’écoute de leurs besoins au jour le jour. C’est une vie plus apaisée, aux activités choisies, qui permet à chacun de grandir à son rythme. Pour le jeune au pair, c’est une expérience unique qui le fera mûrir, développer ses compétences et découvrir le monde. Un moment de vie riche en émotions pour tout le monde !
        </p>
        <h4>Un monde plus ouvert</h4>
        <p>
          Le monde bouge et c’est tant mieux ! L’économie collaborative est une opportunité positive et ButRfly en est le fruit. Et dans notre monde en mutation, nous avons une belle ambition : semer la tolérance et l’humanisme. Car accueillir un étranger chez soi est une des plus belles formes d’ouverture qui soit…
        </p>
      </div>
    </div>
  </div>
</div>

