<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-push-6">
      <div class="about-padded">
        <h3>A PROPOS/QUI SOMMES NOUS ?</h3>
        <p>
          Nous sommes deux jeunes mamans convaincues que l'expérience au pair est une alternative qui saura vous faire vivre de belles expériences et vous apporter de la flexibilité, tout ce dont vous rêvez.
        </p>

        <h4>
          Manuela, maman d'Albane 6 ans et Léonie 4 ans, famille au pair.
        </h4>
        <p>
          Je suis comme vous, je cours et j'ai parfois, même souvent, le sentiment de ne pas voir le temps passer , ni les enfants grandir.
        </p>
        <p>
          Je veux donner le meilleur à mes enfants en terme d’éducation et je ne peux pas être à la sortie d’école à 15h45, en travaillant à plein temps, pour les conduire au piano, à la danse ou au dessin.
        </p>
        <p>
          Je sais qu’il faudrait les initier à l’anglais car c’est tout petit que l’on apprend le mieux mais l’agenda est déjà tellement plein que je ne vois pas quand je pourrais le caser. Et puis j'ai besoin aussi de souffler en allant dîner avec mes copines ou mon amoureux ou en allant faire une séance de yoga et c'est souvent une logistique à prévoir et à organiser.
        </p>
        <br>
        <p>
          Après avoir beaucoup voyagé, apprendre à mes enfants à s'ouvrir sur le monde était pour moi plus qu'une évidence c'était une priorité et nos rythmes plutôt denses m'ont vite guidé vers le recours à l'expérience au pair.
        </p>
        <p>
          Mon mari n'était pas partant et après avoir longuement argumenté sur les aspects pratiques et économiques il a fini par accepter!
        </p>
        <p>
          L'expérience au pair a été pour nous une découverte exceptionnelle. Tellement forte et riche d'émotions et de partage que je me suis dit que je ne pouvais pas le garder que pour moi car l'expérience est exceptionnelle tant pour les enfants, que pour nous parents, que pour l'au pair.
        </p>

        <h4>
          Julie, maman d'Achille 6 ans, globe trotteuse.
        </h4>
        <p>
          Julie aime voyager et rendre service. A travers ses voyages Julie a tissé des amitiés aux quatre coins du globe et a plaisir a les revoir et les accueillir en France. Pour partager du temps avec eux et avec Achille car l'ouverture sur le monde et le partage sont des valeurs instinctives pour Julie.
        </p>
        <br>
        <p>
          Pour Julie l'expérience au pair est naturellement une évidence.
        </p>
        <p>
          Son enthousiasme et son énergie elle les met à votre service pour vous permettre de vivre la plus belle expérience au pair.
        </p>
        <br>
        <p>
          Ensemble nous souhaitons vous faire un mode de garde alternatif et créer du lien.
        </p>
        <p>
          L'au pair que vous accueillerez pourrait être votre enfant qui un jour quittera le cocon pour s'envoler vers d'autres horizons alors vous lui ouvrez votre porte comme vous ouvririez les bras à votre enfant c'est ainsi que rapidement l'Au Pair devient le grand frère ou la grande soeur de la famille... le reste on vous laisse le vivre et nous en faire part.
        </p>
        <br>
        <p>
          Manuela & Julie, happy BUTRFamily ;-)
        </p>
        <%= mail_to t('meta-email'), class: "about-btn btn btn-default" do %>
          NOUS CONTACTER
        <% end %>

      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-md-pull-6">
      <div class="about-padded about-img-center">
        <%= image_tag ('butrfly2-HD-1-13.JPG') %>
      </div>
    </div>
  </div>
</div>

