<% content_for(:title) do %>
  A propos BUTRFLY
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-5 col-md-push-7">
      <div class="about-padded">

        <h3 class="text-center">LES CONDITIONS POUR ÊTRE AU PAIR</h3>
        <p>
          <ul>
            <li> Avoir entre 18 et 30 ans,</li>
            <li> Être célibataire et ne pas avoir d'enfant,</li>
            <li> Aimer les enfants et avoir de l’expérience en garde d’enfant,</li>
            <li> Le voyage A/R jusqu’à la famille sont à la charge de l’Au Pair, </li>
            <li> Les cours de langues sont à la charge de l’Au Pair et la famille peut </li>participer,
            <li> Si tu n’es pas un ressortissant de l’UE, tu dois obtenir un visa approprié. </li>

          </ul>
        </p>


      </div>
    </div>
    <div class="col-xs-12 col-md-7 col-md-pull-5">
      <div class="about-padded">
        <div class="text-center">
          <%= image_tag ('aupair_conditions.jpg') %>
        </div>

        <h3>LA MISSION DE L'AU PAIR</h3>
        <p>
          Etre Au pair c’est voyager et découvrir une nouvelle culture en vivant au sein d’une famille à l'étranger.
        </p>
        <p>
          Tu es nourri, logé et blanchi. Tu as ta propre chambre et une salle de bain privée ou partagée, tu suis des cours de langues et tu reçois de l’argent de poche.
         </p>
         <p>
          En échange tu dois t’occuper des enfants à raison de 30 heures par semaine avec 1 jour de congé minimum par semaine.
        </p>
        <p>
          Tu disposes de plein de temps libre pour découvrir le pays et rencontrer de nouveaux amis.
        </p>
        <p>
          Etre au pair c’est être un compagnon des enfants dans les tâches quotidiennes telles que le trajet à l’école, les activités extra-scolaires, l’aide aux devoirs, le baby-sitting (en soirée), la toilette et des tâches ménagères de la vie de la maison (vider le lave vaisselle, préparer les repas, la lessive des enfants).
        </p>

        <%= link_to "DEVENIR AU PAIR", root_path, class: "about-btn btn btn-default" %>

      </div>
    </div>
  </div>
</div>


