<div class="fixed-social-links">
  <i class="fa fa-facebook text-center" aria-hidden="true"></i>
  <i class="fa fa-twitter text-center" aria-hidden="true"></i>
  <i class="fa fa-pinterest text-center" aria-hidden="true"></i>
  <i class="fa fa-google text-center" aria-hidden="true"></i>
</div>


<div class="banner">

    <div class="ban-mid-content">
      <%= image_tag("new-banner-logo.png", class: "banner-center-logo animate fadeIn") %>
      <div class="icon-on-banner"><i class="fa fa-envira animated pulse infinite" aria-hidden="true"></i></div>
    </div>



</div>



<div class="home-searchbar-types">

  <div class="home-searchbar-item">
    <div class="search-button-text">je recherche</div>
    <i class="fa fa-arrow-right" aria-hidden="true"></i>
  </div>
  <%= link_to t(".sign_out", default: "Un(e) Au pair"), aupairs_path, class: "home-searchbar-middle-item home-searchbar-btn" %>
  <%= link_to t(".sign_out", default: "Une Famille"), families_path, class: "home-searchbar-last-item home-searchbar-btn" %>


</div>



<!-- <div class="home-searchbox">


    <input type="text" placeholder="Quel pays ?">
    <input type="text" placeholder="Quelle langue ?">
    <input type="submit" value="Rechercher">


</div> -->

<!-- about us start -->
<div class="home-about-container">


  <div class="about-us-content">

    <div class="about-us-text">

      <div class="top-about-title">
        <div>La philosophie Butrfly</div>
      </div>


      <div class="about-full-text-4">L'équipe BUTFRLY, c'est quelques personnes encore tout émues des merveilleuses expériences qu'elles ont pu vivre à travers l'au pairing, soit en tant qu'enfants, soit en tant que parents, soit en tant qu’au pair. Avec BUTRFLY ils ont eu envie de faire entrer cette belle idée dans le monde d’aujourd’hui qui changera votre vie.</div>
    </div>

  </div>

</div>
<!-- about us end -->



<!-- test start -->

<div class="features-container-duo">

<div class="home-about-container-alt">


  <div class="about-us-content-alt">

    <div class="about-us-text">

      <div class="top-about-title">
        <div>Découvrir le monde</div>
      </div>

      <div class="about-full-text-2">Envie de voyager et d’apprendre une langue étrangère ? Avec l’au pair, tu as la chance de pouvoir vivre à l’étranger, dans un environnement très doux, sans avoir à chercher du travail ou un appartement. Et en prime, ta famille d’accueil sera heureuse de partager avec toi sa culture !</div>

    </div>

    <div class="about-us-icon-right"><i class="fa fa-globe" aria-hidden="true"></i></div>


  </div>

</div>




<div class="home-about-container-alt">


  <div class="about-us-content-alt">


    <div class="about-us-icon-left"><i class="fa fa-language" aria-hidden="true"></i></div>


    <div class="about-us-text-2">

      <div class="top-about-title">
        <div>Apprendre une langue</div>
      </div>

      <div class="about-full-text-3">Envie d’améliorer son CV et de développer de nouvelles compétences? Une nouvelle langue, le management d’une équipe de plusieurs enfants, le pilotage d’un emploi du temps familial, la gestion des imprévus, une capacité d’adaptation hors-pair autant de savoirs qui te serviront pour la vie.</div>

    </div>

  </div>

</div>



<div class="home-about-container-alt">


  <div class="about-us-content-alt">

    <div class="about-us-text">

      <div class="top-about-title">
        <div>Faire des rencontres</div>
      </div>

      <div class="about-full-text-2">Envie de faire des rencontres et de s’amuser? Avec l’au pair tu as de l’argent de poche et du temps libre et tu pourras rencontrer d’autres au pair comme toi grâce à la communauté BUTRFLY. N’oublie pas que ta famille d’accueil fera également tout pour que tu te plaises.</div>

    </div>

    <div class="about-us-icon-right-2"><i class="fa fa-coffee" aria-hidden="true"></i></div>


  </div>

</div>

</div>

<!-- test end -->





<!-- test2 start -->

<div class="features-container-trio">

<div class="home-about-container-family">


  <div class="about-us-content-alt">

    <div class="about-us-text">

      <div class="top-about-title">
        <div>Aide au quotidien</div>
      </div>

      <div class="about-full-text-2">L’Au pair, c’est la sérénité de ne plus vous laisser déborder !  Aller chercher les enfants à l’école, les accompagner aux activités, passer au pressing et vider le lave-vaisselle : un(e) au pair vous offre un mode garde flexible et vous soulage dans les petits riens du quotidien.</div>

    </div>

    <div class="about-us-icon-right"><i class="fa fa-question" aria-hidden="true"></i></div>


  </div>

</div>







<div class="home-about-container-family">


  <div class="about-us-content-alt">


    <div class="about-us-icon-left"><i class="fa fa-language" aria-hidden="true"></i></div>


    <div class="about-us-text-2">

      <div class="top-about-title">
        <div>Initiation linguistique</div>
      </div>

      <div class="about-full-text-3">Une initiation linguistique et une ouverture sur le monde dès  tout petit. Avec l’au pair vos enfants vont avoir la chance d’entendre parler une autre langue à la maison et vous allez découvrir que vos enfants ont un délicieux accent.</div>

    </div>

  </div>

</div>



<div class="home-about-container-family">


  <div class="about-us-content-alt">

    <div class="about-us-text">

      <div class="top-about-title">
        <div>Tolérance</div>
      </div>

      <div class="about-full-text-2">L’expérience au pair un joli cadeau pour la vie ! L’au pair c’est le confident, le compagnon de jeu qui devient très vite la grande soeur ou le grand frère avec qui se crée une relation forte. Il nous apprend qu’ailleurs on peut vivre autrement et c’est parfait aussi, une bonne dose de tolérance.</div>

    </div>

    <div class="about-us-icon-right-2"><i class="fa fa-heart" aria-hidden="true"></i></div>


  </div>

</div>

</div>

<!-- testi-families start -->
<div class="testimonials-container">

  <div class="testimonial-item">
    <div class="text-testi">« Grâce à l’au pair j’ai du temps de qualité avec les enfants le soir car ce n’est pas la course en rentrant du boulot et je ne me stresse plus si j’ai une réunion qui déborde. »</div>
    <div class="avatar-testimonial"></div>
    <div class="author-testi">Michel L.</div>
  </div>

  <div class="testimonial-item">
    <div class="text-testi">«  Depuis 4 ans maintenant nous accueillons une jeune au pair, différente chaque année, et les enfants le réclament, ils adorent jouer avec elle. Chaque année nous nous attachons, nous avons toujours fait de belles rencontres. »</div>
    <div class="avatar-testimonial"></div>
    <div class="author-testi">Baptiste G.</div>
  </div>

  <div class="testimonial-item">
    <div class="text-testi">« Nous avons eu recours à l’au pair pendant les mois d’été à trois reprises et les enfants sont ravis. Chaque rentrée je suis étonnée de voir leurs progrès en langue. »</div>
    <div class="avatar-testimonial"></div>
    <div class="author-testi">Sophie R.</div>
  </div>

</div>



<!-- testi-aupairs start -->
<div class="testimonials-container">

  <div class="testimonial-item">
    <div class="text-testi">«  J’ai passé une année avec une famille et des enfant de 4 et 7 ans et cela a été une expérience exceptionnelle, jamais je n’avais appris autant de choses en si peu de temps. »</div>
    <div class="avatar-testimonial"></div>
    <div class="author-testi">Lea S.</div>
  </div>

  <div class="testimonial-item">
    <div class="text-testi">« Je suis partie pour découvrir un nouveau pays et voyager et je ne pensais pas que je m’attacherais autant à la famille et aux enfants, j’ai toujours des contacts avec eux. »</div>
    <div class="avatar-testimonial"></div>
    <div class="author-testi">Alice B.</div>
  </div>

  <div class="testimonial-item">
    <div class="text-testi">« C’est la meilleure expérience que j’ai eu dans ma vie, j’au découvert une autre façon de vivre et une famille tellement chaleureuse, je me suis aussi fait de nombreux amis que je vois toujours. »</div>
    <div class="avatar-testimonial"></div>
    <div class="author-testi">Julien M.</div>
  </div>

</div>

