<div class="banner">

    <div class="ban-mid-content">
      <%= image_tag("new-banner-logo.png", class: "banner-center-logo animate fadeIn") %>
      <div class="icon-on-banner"><i class="fa fa-envira animated pulse infinite" aria-hidden="true"></i></div>
    </div>



</div>



<div class="home-searchbar-types">

  <div class="home-searchbar-item">
    <div class="search-button-text">je recherche</div>
    <i class="fa fa-arrow-right" aria-hidden="true"></i>
  </div>
  <%= link_to t(".sign_out", default: "Un(e) Au-pair"), aupairs_path, class: "home-searchbar-middle-item home-searchbar-btn" %>
  <%= link_to t(".sign_out", default: "Une Famille"), families_path, class: "home-searchbar-last-item home-searchbar-btn" %>


</div>



<!-- <div class="home-searchbox">


    <input type="text" placeholder="Quel pays ?">
    <input type="text" placeholder="Quelle langue ?">
    <input type="submit" value="Rechercher">


</div> -->

<!-- about us start -->
<div class="home-about-container">


  <div class="about-us-content">

    <div class="about-us-text">

      <div class="top-about-title">
        <div>La philosophie Butrfly</div>
      </div>


      <div class="about-full-text-4">L'équipe BUTFRLY, c'est quelques personnes encore tout émues des merveilleuses expériences qu'elles ont pu vivre à travers l'au pairing, soit en tant qu'enfants, soit en tant que parents, soit en tant qu’au pair. Avec BUTRFLY ils ont eu envie de faire entrer cette belle idée dans le monde d’aujourd’hui qui changera votre vie.</div>
    </div>

    <div class="about-us-icon"><i class="fa fa-glide-g" aria-hidden="true"></i></div>


  </div>

</div>
<!-- about us end -->



<!-- test start -->

<div class="features-container-duo">

<div class="home-about-container-alt">


  <div class="about-us-content-alt">

    <div class="about-us-text">

      <div class="top-about-title">
        <div>Découvrir le monde</div>
      </div>

      <div class="about-full-text-2">L'équipe BUTFRLY, c'est quelques personnes encore tout émues des merveilleuses expériences qu'elles ont pu vivre à travers l'au pairing, soit en tant qu'enfants, soit en tant que parents, soit en tant qu’au pair</div>

    </div>

    <div class="about-us-icon-right"><i class="fa fa-lastfm" aria-hidden="true"></i></div>


  </div>

</div>




<div class="home-about-container-alt">


  <div class="about-us-content-alt">


    <div class="about-us-icon-left"><i class="fa fa-lastfm" aria-hidden="true"></i></div>


    <div class="about-us-text-2">

      <div class="top-about-title">
        <div>Apprendre une langue</div>
      </div>

      <div class="about-full-text-3">L'équipe BUTFRLY, c'est quelques personnes encore tout émues des merveilleuses expériences qu'elles ont pu vivre à travers l'au pairing, soit en tant qu'enfants, soit en tant que parents, soit en tant qu’au pair</div>

    </div>

  </div>

</div>



<div class="home-about-container-alt">


  <div class="about-us-content-alt">

    <div class="about-us-text">

      <div class="top-about-title">
        <div>Faire des rencontres</div>
      </div>

      <div class="about-full-text-2">L'équipe BUTFRLY, c'est quelques personnes encore tout émues des merveilleuses expériences qu'elles ont pu vivre à travers l'au pairing, soit en tant qu'enfants, soit en tant que parents, soit en tant qu’au pair</div>

    </div>

    <div class="about-us-icon-right-2"><i class="fa fa-lastfm" aria-hidden="true"></i></div>


  </div>

</div>

</div>

<!-- test end -->





<!-- test2 start -->

<div class="features-container-trio">

<div class="home-about-container-family">


  <div class="about-us-content-alt">

    <div class="about-us-text">

      <div class="top-about-title">
        <div>Découvrir le monde</div>
      </div>

      <div class="about-full-text-2">L'équipe BUTFRLY, c'est quelques personnes encore tout émues des merveilleuses expériences qu'elles ont pu vivre à travers l'au pairing, soit en tant qu'enfants, soit en tant que parents, soit en tant qu’au pair</div>

    </div>

    <div class="about-us-icon-right"><i class="fa fa-lastfm" aria-hidden="true"></i></div>


  </div>

</div>







<div class="home-about-container-family">


  <div class="about-us-content-alt">


    <div class="about-us-icon-left"><i class="fa fa-lastfm" aria-hidden="true"></i></div>


    <div class="about-us-text-2">

      <div class="top-about-title">
        <div>Apprendre une langue</div>
      </div>

      <div class="about-full-text-3">L'équipe BUTFRLY, c'est quelques personnes encore tout émues des merveilleuses expériences qu'elles ont pu vivre à travers l'au pairing, soit en tant qu'enfants, soit en tant que parents, soit en tant qu’au pair</div>

    </div>

  </div>

</div>



<div class="home-about-container-family">


  <div class="about-us-content-alt">

    <div class="about-us-text">

      <div class="top-about-title">
        <div>Faire des rencontres</div>
      </div>

      <div class="about-full-text-2">L'équipe BUTFRLY, c'est quelques personnes encore tout émues des merveilleuses expériences qu'elles ont pu vivre à travers l'au pairing, soit en tant qu'enfants, soit en tant que parents, soit en tant qu’au pair</div>

    </div>

    <div class="about-us-icon-right-2"><i class="fa fa-lastfm" aria-hidden="true"></i></div>


  </div>

</div>

</div>
