
<div class="home-banner">
  <div class="home-banner-bg" style="background-image: url(<%= image_path 'hero.jpg' %>);">
  </div>
  <div class="home-banner-roles">
    <div class="frame-default">
      <h2>JE SUIS UNE FAMILLE</h2>
      <h3>JE CHERCHE MON AU PAIR</h3>
      <div class="border-bottom"></div>
      <p>Je crée un profil<br>Je trouve mon au pair<br>Je l'accueille</p>
    </div>
    <div class="frame-default frame-blue">
      coco
    </div>
  </div>
</div>
