<div class="banner">
  <div class="banner-content">
    <h1 class="animate fadeIn titleanimate">BUTRFLY</h1>
    <p class="animate fadeIn">Join the first Aupair community</p>
  </div>
</div>


<div class="features text-center">ABOUT US</div>
<div class="container features-text">ici un petit test pour voir si ca marche bien , mais c'est pas dit!! on verra bien ?
  ici un petit test pour voir si ca marche bien , mais c'est pas dit!! on verra bien ?
</div>

<hr>

<div class="features text-center">FEATURES</div>
<!-- Start Features -->
<div id="features2">
  <div class="container features-container">
      <div class="row">
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">

                  <div class="icon-box">
                    <span class="icon">
                      <i class="fa fa-users" aria-hidden="true"></i>
                    </span>
                    <h4>Community</h4>
                    <p>description</p>
                  </div>

              </div>

              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">

                  <div class="icon-box">
                    <span class="icon">
                      <i class="fa fa-users" aria-hidden="true"></i>
                    </span>
                    <h4>Support</h4>
                    <p>description</p>
                  </div>

              </div>

              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">

                  <div class="icon-box">
                    <span class="icon">
                      <i class="fa fa-users" aria-hidden="true"></i>
                    </span>
                    <h4>Geolocation</h4>
                    <p>description</p>
                  </div>

              </div>


      </div>
  </div>
</div>
<!-- End Features -->
<hr>

<div class="features text-center">TESTIMONIALS</div>
<div class="container features-text">ici un petit test pour voir si ca marche bien , mais c'est pas dit!! on verra bien ?
  ici un petit test pour voir si ca marche bien , mais c'est pas dit!! on verra bien ?
</div>
