<div class="banner">
  <div class="banner-content">
    <h1>BUTRFLY</h1>
    <p>Join the first Aupair community</p>
  </div>
</div>

<%= link_to 'Se connecter', '.bs-example-modal-sm', { :class => 'navbar-wagon-link2', 'data-toggle' => 'modal', :title => '', 'data-original-title' => 'Facebook' } %>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <h5 class="text-center modalog">S'identifier</h5>
    </div>
  </div>
</div>
