<div class="banner">
    <div class="content" >
      <%= image_tag("banner-logo3.svg", class: "menu-icon3 animate fadeIn") %>
      <p class="animate fadeIn">Rejoignez la première communauté d'Aupair</p>
    </div>

    <div class="call-to-action">
      <div class="search-home">Je recherche</div>
      <%= link_to t(".sign_out", default: "Un/une Au-pair"), aupairs_path, class: "btn-banner-home2" %>
      <%= link_to t(".sign_out", default: "Une Famille"), families_path, class: "btn-banner-home2" %>
    </div>

</div>



<div class="home-searchbox">


    <input type="text" placeholder="Quel pays ?">
    <input type="text" placeholder="Quelle langue ?">
    <input type="submit" value="Rechercher">


</div>





<div class="features text-center">La philosophie Butrfly</div>
<div class="container features-text">L'équipe BUTFRLY, c'est quelques personnes encore tout émues des merveilleuses expériences qu'elles ont pu vivre à travers l'au pairing, soit en tant qu'enfants, soit en tant que parents, soit en tant qu’au pair.<br><br>
 Avec BUTRFLY ils ont eu envie de faire entrer cette belle idée dans le monde d’aujourd’hui qui changera votre vie.
</div>

<hr>

<div class="features text-center">Fonctionnalités</div>
<!-- Start Features -->
<div id="features2">
  <div class="container features-container">
      <div class="row">
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">

                  <div class="text-center">
                    <span class="icon">
                      <i class="fa fa-users" aria-hidden="true"></i>
                    </span>
                    <h4>Communauté</h4>
                    <p>Retrouve les au pairs sur BUTRFLY, vous pourrez partager vos expériences et même organiser des rencontres.</p>
                  </div>

              </div>

              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">

                  <div class="text-center">
                    <span class="icon">
                      <i class="fa fa-universal-access" aria-hidden="true"></i>
                    </span>
                    <h4>Support</h4>
                    <p>One question, Just ask! BUTRFLY est là en cas de besoin et t’accompagne tout au long du séjour chez ta famille.</p>
                  </div>

              </div>

              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">

                  <div class="text-center">
                    <span class="icon">
                      <i class="fa fa-globe" aria-hidden="true"></i>
                    </span>
                    <h4>Geolocalisation</h4>
                    <p>Découvre ton nouveau home sweet home grâce à la géolocalisation! Tu visualises le lieu de vie de ta famille d’accueil et les au pair à proximité.</p>
                  </div>

              </div>


      </div>
  </div>
</div>
<!-- End Features -->
<hr>

<!-- Start Testimonials aupair -->
<div class="features text-center">Bénéfices Aupairs</div>
<!-- Start Features -->
<div id="features2">
  <div class="container features-container">
    <div class="row">
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-sm-offset-1">
        <div class="icon-box">
          <span class="icon">
            <i class="fa fa-globe" aria-hidden="true"></i>
          </span>
          <p>Voyager, découvrir une autre culture.</p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <div class="icon-box">
          <span class="icon">
            <i class="fa fa-comments-o" aria-hidden="true"></i>
          </span>
          <p>Apprendre une langue étrangère.</p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <div class="icon-box">
          <span class="icon">
            <i class="fa fa-file-text-o" aria-hidden="true"></i>
          </span>
          <p>Améliorer son CV en développant de nouvelles compétences (organisation, management, communication).</p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <div class="icon-box">
          <span class="icon">
            <i class="fa fa-users" aria-hidden="true"></i>
          </span>
          <p>Faire des rencontres et s’amuser.</p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <div class="icon-box">
          <span class="icon">
            <i class="fa fa-star" aria-hidden="true"></i>
          </span>
          <p>Gagner en maturité (quitter sa famille) et défi personnel (apprendre à mieux se connaître).</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Testimonials aupair -->
<hr>

<!-- Start Testimonials family -->
<div class="features text-center">Bénéfices Familles</div>
<!-- Start Features -->
<div id="features2">
  <div class="container features-container">
    <div class="row">
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-sm-offset-1">
        <div class="icon-box">
          <span class="icon">
            <i class="fa fa-eur" aria-hidden="true"></i>
          </span>
          <p>Un mode de garde flexible et bon marché.</p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <div class="icon-box">
          <span class="icon">
            <i class="fa fa-language" aria-hidden="true"></i>
          </span>
          <p>L’ouverture sur le monde et l’apprentissage d’une langue étrangère aux enfants.</p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <div class="icon-box">
          <span class="icon">
            <i class="fa fa-child" aria-hidden="true"></i>
          </span>
          <p>L’acceptation de l’étranger et le partage.</p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <div class="icon-box">
          <span class="icon">
            <i class="fa fa-universal-access" aria-hidden="true"></i>
          </span>
          <p>Une aide domestique au quotidien.</p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <div class="icon-box">
          <span class="icon">
            <i class="fa fa-shield" aria-hidden="true"></i>
          </span>
          <p>Une relation forte et durable (un compagnon, confident, un soutien).</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Testimonials family -->
