
<div class="banner">
  <div class="banner-content">
    <h1>BUTRFLY</h1>
    <p>Join the first Aupair community</p>
    <a class="btn-primary btn-sm btn">Sign up</a>
  </div>
</div>

<div class="container text-center">

  <h3>Home page</h3>
  <p>CSS components works</p>

  <%= link_to "Creer un compte", new_user_path, class: "navbar-wagon-link btnpad" %>
  <%= link_to "Me déconnecter", destroy_user_session_path, method: :delete, class: "navbar-wagon-link btnpad" %>
  <%= link_to "Me Connecter", new_user_session_path, class: "navbar-wagon-link btnpad" %>

</div>


