<div class="banner">
  <div class="banner-content">
    <h1 class="animate fadeIn titleanimate">BUTRFLY</h1>
    <p class="animate fadeIn">Join the first Aupair community</p>
  </div>
</div>


<div class="features text-center">ABOUT US</div>
<div class="container features-text">L'équipe BUTFRLY, c'est quelques personnes encore tout émues des merveilleuses expériences qu'elles ont pu vivre à travers l'au pairing, soit en tant qu'enfants, soit en tant que parents, soit en tant qu’au pair. Avec BUTRFLY ils ont eu envie de faire entrer cette belle idée dans le monde d’aujourd’hui qui changera votre vie.
</div>

<hr>

<div class="features text-center">FEATURES</div>
<!-- Start Features -->
<div id="features2">
  <div class="container features-container">
      <div class="row">
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">

                  <div class="icon-box">
                    <span class="icon">
                      <i class="fa fa-users" aria-hidden="true"></i>
                    </span>
                    <h4>Community</h4>
                    <p>Retrouve les au pairs sur BUTRFLY, vous pourrez partager vos expériences et même organiser des rencontres.</p>
                  </div>

              </div>

              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">

                  <div class="icon-box">
                    <span class="icon">
                      <i class="fa fa-users" aria-hidden="true"></i>
                    </span>
                    <h4>Support</h4>
                    <p>One question, Just ask! BUTRFLY est là en cas de besoin et t’accompagne tout au long du séjour chez ta famille.</p>
                  </div>

              </div>

              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">

                  <div class="icon-box">
                    <span class="icon">
                      <i class="fa fa-users" aria-hidden="true"></i>
                    </span>
                    <h4>Geolocation</h4>
                    <p>Découvre ton nouveau home sweet home grâce à la géolocalisation! Tu visualises le lieu de vie de ta famille d’accueil et les au pair à proximité.</p>
                  </div>

              </div>


      </div>
  </div>
</div>
<!-- End Features -->
<hr>

<div class="features text-center">TESTIMONIALS</div>
<div class="container features-text">ici un petit test pour voir si ca marche bien , mais c'est pas dit!! on verra bien ?
  ici un petit test pour voir si ca marche bien , mais c'est pas dit!! on verra bien ?
</div>
