.home-banner {
  color: white;
  height: 450px;
  width: 100%;
  background-size: cover;
  background-image: image-url("home-background.jpg");
  background-position: center center;
  position: absolute;;
  top: 0;
  z-index: -1;
}

.home-banner-content {
  min-height: 300px;
}
