#footer {
  width: 100%;
  background: $brown-dark;
  padding: 15px 0;
  color: $white;
  h2 {
    font-size: 17px;
    @media (max-width: 468px) {
      margin-bottom: 6px;
      margin-top: 24px;
    }
  }
  p {
    font-size: 14px;
    width: 180px;
  }
  a {
    color: $white;
    font-size: 14px;
    transition: color 0.5s ease;
    cursor: pointer;
    @media (max-width: 468px) {
      margin-bottom: 5px;
    }
    @media (min-width: 768px) {
      margin-bottom: 10px;
    }
  }
  a:hover{
    color: $yellow;
    text-decoration: none;
  }
  a:focus{
    text-decoration: none;
  }
  a:visited{
    text-decoration: none;
  }
  .list-inline {
    @media (max-width: 468px) {
      margin-bottom: 3px;
    }
  }
  .social a {
    font-size: 100%;
    letter-spacing: 1rem;
  }
}
.footer-infos {
  display: flex;
  flex-direction: column;
}


