<div class="mansory-container item <%= aupair.languages.pluck(:code).join(" ") %>">
  <div class="mansory-picture">

  </div>
  <div class="mansory-text">
    <div>
      <%= aupair.first_name %> <%= aupair.last_name %>
    </div>
    <div>
      <%= link_to "Voir", aupair, class: "btn-modal-alt" %>
    </div>
  </div>
</div>
