<div class="container">
  <h2>Langues parlées</h2>
  <div id="form-ui">
    <p>
      <label><input type="checkbox" value=".fr" /> Français</label>
      <label><input type="checkbox" value=".en" /> Anglais</label>
      <label><input type="checkbox" value=".de" /> Allemand</label>
      <label><input type="checkbox" value=".it" /> Italien</label>
      <label><input type="checkbox" value=".es" /> Espagnol</label>
      <label><input type="checkbox" value=".pt" /> Portuguais</label>
      <label><input type="checkbox" value=".ar" /> Arabe</label>
    </p>
  </div>

  <div class="grid">
    <%= render @aupairs %>
  </div>
</div>
