<div class="butrfly-wrapper div-center">
    <div class="butrfly-container">
      <div class="process-banner-default">
        <h2>
          C'EST FACILE !
          <%= link_to "EN SAVOIR +", root_path, class: "btn-black" %>
        </h2>
        <div class="div-spacearound">
          <%= process_steps_html("black") %>
        </div>
      </div>
    </div>
</div>

<div class="butrfly-wrapper div-center">
  <div class="butrfly-container div-center">
    <%= render "filters_index" %>
    <div class="container-fluid index-container">
      <div class="row">
        <%= render @aupairs %>
      </div>
    </div>
  </div>
</div>


