<div class="container">
  <div class="row">
    <div class="process-banner-default">
      <div class="div-spacebetween">
        <h2>C'EST FACILE !</h2>
        <%= link_to "EN SAVOIR +", root_path, class: "btn-black" %>
      </div>
      <div class="div-spacearound">
        <%= process_steps_html("black") %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <%= render @aupairs %>
  </div>
</div>
