
<div class="butrfly-wrapper div-center">
  <div class="butrfly-container div-center">
    <div class="hidden-xs hidden-ms">
      <%= render "shared/square_box", title: @user.name, color: :blue %>
      <div class="frame-default frame-btn fr-btn-blue">
        <div class="input-button div-center items-center">
          <%= link_to "MODIFIER", root_path %>
        </div>
      </div>
      <%= render "filters_show" %>

    </div>
    <div class="index-container">

      <div class="banner-folio">
        <div class="banner-folio-photo portrait" style="background-image: url('https://kitt.lewagon.com/placeholder/cities/berlin');">
        </div>
        <div class="banner-folio-photo landscape" style="background-image: url('https://kitt.lewagon.com/placeholder/cities/paris');">
        </div>
        <div class="banner-folio-photo portrait" style="background-image: url('https://kitt.lewagon.com/placeholder/cities/bordeaux');">
        </div>
      </div>

      <div class="div-spacebetween">
        <div class="btn-blue-default flex-auto div-center">
          <i class="fa fa-calendar" aria-hidden="true"></i>
          <label>
            <h2>DISPONIBLE À PARTIR DE</h2>
            <p>Juillet 2017</p>
          </label>
        </div>
        <div class="btn-blue-default flex-auto div-center">
          <i class="fa fa-history" aria-hidden="true"></i>
          <label>
            <h2>POUR QUELLE DURÉE</h2>
            <p>3 mois</p>
          </label>
        </div>
        <div class="btn-blue-default flex-auto div-center">
          <i class="fa fa-globe" aria-hidden="true"></i>
          <label>
            <h2>PAYS RECHERCHÉS</h2>
            <p>Français, Espagne</p>
          </label>
        </div>
      </div>
      <div class="border-default width-100 padding-20px">
        <div class="container-fluid">
          <h2>DESCRIPTION</h2>
          <p><%= @user.description %></p>
        </div>
      </div>
    </div>
  </div>
</div>




