<!-- about us start -->

<div class="about-us-container">
      <div class="about-us-title">
        <div><%= t(".title") %></div>
      </div>
      <div class="about-us-fulltext">
        <%= t(".text") %>
      </div>
</div>

<!-- about us end -->
