<div class="home-banner">
    <div class="home-banner-content">
      <%= image_tag("new-banner-logo.png", class: "home-banner-logo animate fadeIn") %>
      <div class="home-banner-icon"><i class="fa fa-plane animated pulse infinite" aria-hidden="true"></i></div>
    </div>
</div>
