<div class="testimonials-container">

  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="4000">
    <div class="carousel-inner" role="listbox">

      <!-- families testimonials start -->
      <div class="item active">
        <div class="testimonials-item">
          <div class="testimonials-text">« Grâce à l’au pair j’ai du temps de qualité avec les enfants le soir car ce n’est pas la course en rentrant du boulot et je ne me stresse plus si j’ai une réunion qui déborde. »</div>
          <div class="testimonials-avatar-container"><div class="testimonials-avatar"></div></div>
          <div class="testimonials-author-flex">
            <div class="testimonials-author">Elise &nbsp</div>
            <div class="testimonials-author-type"></div>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="testimonials-item">
          <div class="testimonials-text">«  Depuis 4 ans maintenant nous accueillons une jeune au pair, différente chaque année, et les enfants le réclament, ils adorent jouer avec elle. Chaque année nous nous attachons, nous avons toujours fait de belles rencontres. »</div>
          <div class="testimonials-avatar-container"><div class="testimonials-avatar"></div></div>
          <div class="testimonials-author-flex">
            <div class="testimonials-author">Mathieu &nbsp</div>
            <div class="testimonials-author-type"></div>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="testimonials-item">
          <div class="testimonials-text">« Nous avons eu recours à l’au pair pendant les mois d’été à trois reprises et les enfants sont ravis. Chaque rentrée je suis étonnée de voir leurs progrès en langue. »</div>
          <div class="testimonials-avatar-container"><div class="testimonials-avatar"></div></div>
          <div class="testimonials-author-flex">
            <div class="testimonials-author">Sophie &nbsp</div>
            <div class="testimonials-author-type"></div>
          </div>
        </div>
      </div>
      <!-- families testimonials end -->

      <!-- aupairs testimonials start -->
      <div class="item">
        <div class="testimonials-item">
          <div class="testimonials-text">«  J’ai passé une année avec une famille et des enfant de 4 et 7 ans et cela a été une expérience exceptionnelle, jamais je n’avais appris autant de choses en si peu de temps. »</div>
          <div class="testimonials-avatar-container"><div class="testimonials-avatar"></div></div>
          <div class="testimonials-author-flex">
            <div class="testimonials-author">Orianne &nbsp</div>
            <div class="testimonials-author-type"></div>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="testimonials-item">
          <div class="testimonials-text">« Je suis partie pour découvrir un nouveau pays et voyager et je ne pensais pas que je m’attacherais autant à la famille et aux enfants, j’ai toujours des contacts avec eux. »</div>
          <div class="testimonials-avatar-container"><div class="testimonials-avatar"></div></div>
          <div class="testimonials-author-flex">
            <div class="testimonials-author">Remy &nbsp</div>
            <div class="testimonials-author-type"></div>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="testimonials-item">
          <div class="testimonials-text">« C’est la meilleure expérience que j’ai eu dans ma vie, j’au découvert une autre façon de vivre et une famille tellement chaleureuse, je me suis aussi fait de nombreux amis que je vois toujours. »</div>
          <div class="testimonials-avatar-container"><div class="testimonials-avatar"></div></div>
          <div class="testimonials-author-flex">
            <div class="testimonials-author">Fanny &nbsp</div>
            <div class="testimonials-author-type"></div>
          </div>
        </div>
      </div>
      <!-- aupairs testimonials end -->

    </div>
  </div>

</div>
