.aupair-card {
 background-color: $aupair-color;
  width: 350px;
  padding: 50px;
  outline: 2px solid white;
  outline-offset: -20px;
  color: white;
  p {
    color: white;
  }
  hr {
    border-top: 1px solid white;
    width: 15%;
  }
  span {
    color: black;
  }
}
