.banner-center-logo {
  width: 320px;
  margin-right: 25px;
}

.banner {
  color: white;
  height: 50vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  background-image: image-url("hero.jpg");
  background-position: center center;
  align-items: center;
  justify-content: center;
  position: relative;
}
.banner h1 {
  font-size: 30px;
  font-family: "Lato";
  letter-spacing: 6px;
  font-weight: 200;
}
.banner p {
  font-family: "Lato";
  font-size: 15px;
  font-weight: 300;
  color: white;
  margin-bottom: 20px;
}


.banner-btn-text {
  color: white;
  opacity: 0.9;
  font-size: 12px;
  font-family: "Circular-Book";
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: rgba(255,255,255,0.2);
  opacity: 1;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.ban-mid-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-bottom-block {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0px;
  width: 120px;
  border: 1px solid lightgrey;
  left: 35%;
}

.icon-on-banner {
  margin-left: 25px;
  font-size: 45px;
}
