.family-card {
 background-color: $family-color;
  width: 350px;
  padding: 50px;
  outline: 2px solid black;
  outline-offset: -20px;
  color: black;
  p {
    color: black;
  }
  hr {
    border-top: 1px solid black;
    width: 15%;
  }
  span {
    color: white;
  }
}
