.filters-box {
  width: 200px;
}

#datetimepicker1 {
  color: black;
  .input-group-addon {
    background: transparent;
    border: 0px;
    width: 100%;
    box-shadow: none;
    border-bottom: solid 1px white;
    color: white;
  }
}
