.index-search-bar {
  height: 50px;
  border-bottom: 1px solid $border;
  border-top: 1px solid $border;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="submit"] {
  border: none;
  height: 100%;
  color: $bluegrey-light;
  background-color: transparent;
  border-right: 1px solid $border;
  border-left: 1px solid $border;
}

input[type="submit"]:hover {
  color: $bluegrey-dark;
}

.search-index-btn {
  padding-top: 16px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  border-right: 1px solid $border;
  opacity: 0.8;
}

.search-index-btn:hover {
  text-decoration: none;
  outline: none;
  color: $brand-color;
  opacity: 1;
}

.index-search-bar select {
  border: none;
  box-shadow: none;
  padding-right: 12px !important;
  padding-left: 12px !important;
  margin-right: 10px;
  outline: none;
  text-decoration: none;
  margin: none;
  opacity: 0.8;
}

.index-search-bar select:hover {
  border: none;
  box-shadow: none;
  padding-right: 12px;
  padding-left: 12px;
  outline: none;
  text-decoration: none;
}

.index-search-bar select:focus {
  border: none;
  box-shadow: none;
  padding-right: 12px;
  padding-left: 12px;
  outline: none;
  text-decoration: none;
}

@media all and (max-width: 850px) {
  .index-search-bar {
    display: none;
  }
}

#search_date_3i {
  display: none;
}

.icon-search-bar {
  font-family: "Circular-Book";
  font-size: 14px;
  color: $bluegrey-dark;
  opacity: 0.9;
  padding-bottom: 16px;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 26px;
  padding-right: 26px;
  border-right: 1px solid $border;
}

.index-search-bar form.form-inline {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 12px;
}

.index-search-bar a:hover {
  cursor: pointer;
  opacity: 0.9;
}

.index-search-bar a {
  opacity: 0.6;
}

.input-search-aupair {
  margin-left: auto;
}

.input-search-family {
  margin-left: auto;
}
