.home-testi-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 70px;
}

.testi-title {
  padding-top: 28px;
  padding-bottom: 28px;
}

.testi-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
}

.testi-item {
  width: 160px;
  padding-top: 14px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 14px;
  margin-left: 25px;
  margin-right: 25px;
  border: 1px solid lightgrey;
  border-radius: 2px;
}

.testi-item-top {
  color: $bluegrey-dark;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.testi-item-text {
  color: $bluegrey-dark;
  font-size: 12px;
  opacity: 0.9;
  letter-spacing: -0.3px;
}

.test-item-top-text {
  font-family: "Lato";
  font-weight: 400;
  font-size: 14px;
}


.about-us-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20%;
  padding-right: 20%;
}

.about-full-text {
  font-size: 12px;
  text-align: left;
  color: $bluegrey-dark;
  opacity: 0.8;
  font-family: "Circular-Book" !important;
  margin-right: 20px;
}

.top-about-title {
  padding-bottom: 14px;
  color: $bluegrey-dark;
  font-size: 17px;
  opacity: 0.9;
  font-family: "Circular-Medium";
}

.about-us-icon {
  text-align: center;
  font-size: 64px;
  margin-left: 45px;
}


.home-about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 110px;
  padding-bottom: 110px;
  background-color: white;
  padding-left: 12%;
  padding-right: 12%;
}

.about-us-text-2 {
  flex: 9;
  text-align: right;
}

.top-about-title-2 {
  padding-bottom: 14px;
}

.about-full-text-2 {
  font-size: 14px;
  text-align: left;
  text-align-last: left;
  text-justify: right;
  color: $bluegrey-dark;
  opacity: 0.8;
  font-family: "Circular-Book" !important;
  width: 610px;
}

.about-full-text-3 {
  font-size: 14px;
  text-align: right;
  text-align-last: right;
  text-justify: right;
  color: $bluegrey-dark;
  opacity: 0.8;
  font-family: "Circular-Book" !important;
  width: 610px;
}


.home-about-container-alt {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 28%;
  padding-right: 28%;
}

.about-us-content-alt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
}

.features-container-duo {
  padding-top: 110px;
  padding-bottom: 110px;
  background-color: rgba(0,0,0,0.1);
}


.about-us-icon-left {
  margin-right: 50px;
  font-size: 42px;
  color: $brand-color;
}

.about-us-icon-right {
  margin-left: 50px;
  font-size: 42px;
  color: $brand-color;
}

.about-us-icon-right-2 {
  margin-left: 50px;
  font-size: 42px;
  color: $brand-color;
}


.benefit-aupair-title {
  padding-right: 50px;
}

.benefit-aupair-title-alt {
  padding-left: 50px;
}

.about-full-text-4 {
  font-size: 14px;
  text-align: left;
  text-align-last: left;
  color: $bluegrey-dark;
  opacity: 0.8;
  font-family: "Circular-Book" !important;
  width: 700px;
}



.features-container-trio {
  padding-top: 110px;
  padding-bottom: 110px;
  background-color: white;
}


.home-about-container-family {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
  padding-left: 28%;
  padding-right: 28%;
  background-color: white;
}

